STORE_URL=https://your-store.com
CONSUMER_KEY=your-consumer-key
CONSUMER_SECRET=your-consumer-secret
S3_BUCKET_NAME=your-s3-bucket-name
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key